.container
  .col-8
    %h1.display-3
      Hi #{@current_user.name}
    %p
      You like #{@liked_animals.pluck(:name).map(&:pluralize).to_sentence}
    %p
      You don't like #{@disliked_animals.pluck(:name).map(&:pluralize).to_sentence}
  .row
    - @animals.each do |animal|
      .col{data:
            {
              controller: 'likeit',
              likeit_likepath_value: like_animal_path(animal),
              likeit_dislikepath_value: dislike_animal_path(animal),
              likeit_resetpath_value: reset_animal_path(animal)
            }
        }
        .animal-icon.shadow.p-3.mb-5.mx-5.my-5{data: {likeit_target: 'display'} }
          = render partial: 'animals/display', locals: { animal: animal, user: @current_user }

