@import 'bootstrap';

.colorize-blue {
  filter: invert(1) brightness(0.2) sepia(0.8) hue-rotate(180deg) saturate(5);
}

.colorize-red {
  filter: invert(1) brightness(0.2) sepia(1) hue-rotate(-60deg) saturate(5);
}

.colorize-green {
  filter: invert(1) brightness(0.2) sepia(0.8) hue-rotate(80deg) saturate(5);
}

